@define-color black     #000000;
@define-color white     #FFFFFF;
@define-color red       #c02c28;
@define-color green     #2ec27e;
@define-color yellow    #f5c211;
@define-color blue      #1e78e4;
@define-color magenta   #9841bb;
@define-color cyan      #0ab9dc;
@define-color orange    #F07623;

/* The window itself */
#window {
    background-color: transparent;
    font: Meslo 14 bold;
}

#outer-box, #entry, #input {
    border-radius: 20px;
}

/* The box that contains everything */
#outer-box {
    background-color: rgba(12, 12, 12, 0.8);
    border: 2px solid @blue;
}

/* The search bar */
#input {
    background-color: transparent;
    border: 2px solid @cyan;
    margin: 5px;
}

/* The scrolled window containing all of the entries */
#scroll {}

/* The box containing all of the entries */
#inner-box {
    
}

/* All images in entries displayed in image mode */
#img {
    margin: 0px 10px;
}

/* All the text entries */
#text {}

/* All entries */
#entry {}

/* All selected entries */
#entry:selected {
    background: transparent;
    border: 2px solid @green;
    margin: 5px;
}

/* All boxes shown when expanding entries with multiple actions */
#expander-box {}
