@define-color black     #000000;
@define-color white     #FFFFFF;
@define-color red       #c02c28;
@define-color green     #2ec27e;
@define-color yellow    #f5c211;
@define-color blue      #1e78e4;
@define-color magenta   #9841bb;
@define-color cyan      #0ab9dc;
@define-color orange    #F07623;
@define-color gray      #808080;

* {
    font-size: 14px;
    border-radius: 10px;
    margin: 0px 2px;
    padding: 0px 10px;
}

box {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

window#waybar, window#waybar > box {
    background-color: transparent;
    border-radius: 100px;
    padding: 0px;
}

window#waybar > box {
    padding: 0px 8px;
}

.modules-right {
    margin-right: 0px;
    padding-right: 0px;
}

.modules-left {
    margin-left: 0px;
    padding-left: 0px;
}

#workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    background-color: @blue;
    padding: 0px 8px;
    margin: 0px 2px;
    min-width: 0px;
}

#workspaces button.empty {
    padding: 0px 10px;
}

#workspaces button.active {
    background-color: @green;
    color: @black;
}

#workspaces button label {
    padding: 0px;
    margin: 0px;
}

#workspaces .taskbar-window {
    margin: 0px;
    margin-left: 2px;
    padding: 0px;
    min-width: 0px;
}

#workspaces .taskbar-window * {
    margin: 0px 4px;
    padding: 0px;
    min-width: 0px;
}

#temperature {
    background-color: @green;
    color: @black;
}

#temperature.warning {
    background-color: @orange;
}

#temperature.critical {
    background-color: @red;
}

#cpu,#memory {
    background-color: @magenta;
}

#clock {
    background-color: @blue;
}

#network {
    background-color: @blue;
}

#network.disconnected {
    background-color: @orange;
}

#network.disabled {
    background-color: @red;
}

#bluetooth {
    background-color: @blue;
}

#bluetooth .off, #bluetooth.disabled {
    background-color: @red;
    color: @white;
}

#pulseaudio {
    background-color: @cyan;
    color: @black;
}

#pulseaudio.muted {
    background-color: @red;
    color: @white;
}

#battery.discharging {
    background-color: @green;
    color: @black;
}

#battery.charging, #battery.plugged {
    background-color: @blue;
}

#battery.warning:not(.charging) {
    background-color: @orange;
}

#battery.critical:not(.charging) {
    background-color: @red;
}

#battery.full {
    background-color: @green;
    color: #000000;
}

#idle_inhibitor.activated {
    background-color: @green;
    color: @black;
}

#idle_inhibitor.deactivated {
    background-color: @red;
}

#tray {
    background-color: @magenta;
    color: @black;
    padding: 0px;
}
